In [1]:
import pandas as pd

In [2]:
# Store filepath in a variable
deceased_file = "../Project/Resources/Raw_Data/death_registrations_in_ontario_by_location_2021.csv"

In [3]:
# Read the Data file with the pandas library
deceased_df = pd.read_csv(deceased_file)

deceased_df.head()

   Year/Année Month/Mois   Municipality/Municipalité  Totals / Totaux
0        2021        JAN         ADDINGTON HIGHLANDS                7
1        2021        JAN                        AJAX               79
2        2021        JAN  AKWESASNE MOHAWK TERRITORY                6
3        2021        JAN          ALFRED PLANTAGENET                6
4        2021        JAN                 AMHERSTBURG               10

In [7]:
organized_df = deceased_df[['Municipality/Municipalité', 'Totals / Totaux']]
organized_df = organized_df.rename(columns= {
    'Municipality/Municipalité': "Municipality",
    'Totals / Totaux': "Total"
})

organized_df.head()

                 Municipality  Total
0         ADDINGTON HIGHLANDS      7
1                        AJAX     79
2  AKWESASNE MOHAWK TERRITORY      6
3          ALFRED PLANTAGENET      6
4                 AMHERSTBURG     10

In [10]:
#Group by Cities and sum the categories
grouped_df = organized_df.groupby(['Municipality']).sum()

grouped_df.sort_values(['Total'], ascending=False)

                            Total
Municipality
TORONTO                     22131
OTTAWA                       7706
HAMILTON                     5854
MISSISSAUGA                  4523
LONDON                       4340
...                           ...
MERRICKVILLE-WOLFORD            6
WIKWEMIKONG I R                 6
NORTHERN BRUCE PENINSULA        6
AKWESASNE MOHAWK TERRITORY      6
NIPIGON                         6

[211 rows x 1 columns]

In [11]:
#Save the final copy to CSV
grouped_df.to_csv("../Project/Resources/Cleaned_Data/Death_Registration.csv")