In [33]:
import pandas as pd

In [34]:
# Store filepath in a variable
spills_file = "../Project/Resources/Raw_Data/spills_occurrences_2021.csv"

In [35]:
# Read the Data file with the pandas library
spills_df = pd.read_csv(spills_file)

spills_df.columns

Index(['Date Reported', 'Time Reported', 'Reference Number',
       'Site Municipality', 'Contaminant Name', 'Receiving Media',
       'Health Impact', 'Environmental Impact',
       'Health/Environmental Consequence', 'Sector Type', 'Source Type',
       'Source/Sector Type', 'Incident Event', 'Incident Reason'],
      dtype='object')

In [60]:
organized_df = spills_df[['Site Municipality', 'Contaminant Name']]

organized_df.head()

  Site Municipality       Contaminant Name
0           TORONTO            DIESEL FUEL
1   SOUTH FRONTENAC         OIL AND GREASE
2            OSHAWA            FURNACE OIL
3          HAMILTON  CUTTING/THREADING OIL
4           COBOURG         OIL AND GREASE

In [62]:
#Group by Cities and sum the categories
organized_df = organized_df.rename(columns={'Contaminant Name': "# of Health Impacts due to spills"})

grouped_df = organized_df.groupby(['Site Municipality']).count()

grouped_df.sort_values(["# of Health Impacts due to spills"], ascending=False)

                          # of Health Impacts due to spills
Site Municipality
TORONTO                                                  43
OTTAWA                                                   15
LONDON                                                   13
HAMILTON                                                 13
MISSISSAUGA                                              12
...                                                     ...
IROQUOIS FALLS                                            1
HEARST                                                    1
HAWKESBURY                                                1
HAVELOCK-BELMONT-METHUEN                                  1
ZORRA                                                     1

[135 rows x 1 columns]

In [63]:
#Save the final copy to CSV

grouped_df.to_csv("../Project/Resources/Cleaned_Data/Environmental_Spills.csv")