In [22]:
import pandas as pd

In [23]:
# Store filepath in a variable
population_file = "../Project/Resources/Raw_Data/Ont_Population.csv"

In [24]:
# Read the Data file with the pandas library
pop_df = pd.read_csv(population_file)

pop_df.head(2)

,Rank,Population centre[2],Size group[2],Population (2021)[2],Land area (km2)[2],Population density[2]
0,1,TORONTO,Large urban,"5,647,656","1,829.05","3,087.8/km2"
1,2,OTTAWA,Large urban,"1,068,821",549.49,"1,945.1/km2"

In [25]:
organized_df = pop_df[['Population centre[2]', 'Population (2021)[2]', 'Land area (km2)[2]']]

organized_df = organized_df.rename(columns={'Population centre[2]': "City", 'Population (2021)[2]': "Total Population"})

organized_df.head()

        City Total Population Land area (km2)[2]
0    TORONTO        5,647,656           1,829.05
1     OTTAWA        1,068,821             549.49
2   HAMILTON          729,560             356.03
3  KITCHENER          522,888             296.45
4     LONDON          423,369             244.97

In [26]:
#Save the final copy to CSV

organized_df.to_csv("../Project/Resources/Cleaned_Data/Ont_Population.csv", encoding="utf-8")